.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 1000px) and (max-width: 1499px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --third-text-color: #9da4bd;
  --secondary-text-color: #303030;
  --accent-color: #ff6c00;
  --header-text-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop, .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.6);
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.lections,
.hometasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.lections__item:not(:first-child) {
  margin-left: 72px;
}

.hometasks__item:not(:first-child) {
  margin-left: 45px;
}

.lesson-07-02__01 {
  text-align: center;
}

.lesson-07-02__03 .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lesson-07-02__03 .feed__item,
.lesson-07-02__04 .feed__item {
  max-width: 640px;
  min-width: 480px;
}

.lesson-07-02__03 .feed__item,
.lesson-07-02__04 .feed__item {
  margin-left: 40px;
}

.lesson-07-02__03 .feed__descr .lesson-07-02__04 .feed__descr {
  max-width: 640px;
}

.lesson-07-02__03 .feed,
.lesson-07-02__04 .feed {
  list-style: none;
}

.lesson-07-02__03 .feed li:not(:last-child),
.lesson-07-02__04 .feed li:not(:last-child) {
  margin-bottom: 32px;
}

.lesson-07-02__03 .feed img,
.lesson-07-02__04 .feed img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 500ms linear 500ms;
  transition: all 500ms linear 500ms;
  width: 640px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lesson-07-02__03 .feed img.appear,
.lesson-07-02__04 .feed img.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.task-01.lesson__06 .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories > .item:not(:first-child) {
  margin-left: 80px;
}

.task__descr {
  color: aqua;
  background-color: #020246;
  font-weight: 600;
  width: 150px;
  border-radius: 12px;
  text-align: center;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary {
  width: 150px;
  background-color: aquamarine;
}

.task-03.lesson__06 .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-03.lesson__06 .gallery__image {
  min-width: 100px;
  max-width: 100%;
}

.task-03.lesson__06 .gallery__item:not(:first-child) {
  margin-left: 30px;
}

.task-06.lesson__06 #validation-input {
  border: 3px solid #bdbdbd;
}

.task-06.lesson__06 #validation-input.valid {
  border-color: #4caf50;
}

.task-06.lesson__06 #validation-input.invalid {
  border-color: #f44336;
}

.task-06.lesson__06 .result__message {
  font-size: large;
  font-weight: 700;
  color: darkgreen;
}

.task-10.lesson__06 #boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  max-height: 500px;
  margin-bottom: 200px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(2) rotate(360deg);
          transform: scale(2) rotate(360deg);
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  padding: 30px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.modal-field {
  margin-bottom: 15px;
}

.input-label {
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 5px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 85%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #999999;
  background: transparent;
  padding-left: 40px;
  padding-right: 20px;
  outline: none;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-text-input {
  width: 93%;
  height: 100px;
  border-radius: 3px;
  resize: none;
  border: 1px solid #999999;
  background: transparent;
  padding: 10px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.check-text {
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-text span {
  width: 15px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
/*# sourceMappingURL=main.css.map */