<section class="header">
    <header>
        <div class="container">
            <ul class="nav list">
                <li>   
                    <ul class="lections list">
                        <li class="list-item lections__item"><a class="lections__link link" href="./lessons/06/lesson-06.html">Lesson 06</a></li>
                        <li class="list-item lections__item"><a class="lections__link link" href="./lessons/07/lesson-07.html">Lesson 07</a></li>
                        <li class="list-item lections__item"><a class="lections__link link" href="./lessons/08/lesson-08.html">Lesson 08</a></li>
                        <li class="list-item lections__item"><a class="lections__link link" href="./lessons/09/lesson-09.html">Lesson 09</a></li>
                        <li class="list-item lections__item"><a class="lections__link link" href="./lessons/10/lesson-10.html">Lesson 10</a></li>
                        <li class="list-item lections__item"><a class="lections__link link" href="./lessons/11/lesson-11.html">Lesson 11</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="hometasks list">
                        <li class="list-item hometasks__item"><a class="hometasks__link link" href="./lessons/06/ht-06/HomeTask-06.html">HomeTask 06</a></li>
                        <li class="list-item hometasks__item"><a class="hometasks__link link" href="./lessons/07/ht-07/HomeTask-07.html">HomeTask 07</a></li>
                        <li class="list-item hometasks__item"><a class="hometasks__link link" href="./lessons/08/ht-08/HomeTask-08.html">HomeTask 08</a></li>
                        <li class="list-item hometasks__item"><a class="hometasks__link link" href="./lessons/09/ht-09/HomeTask-09.html">HomeTask 09</a></li>
                        <li class="list-item hometasks__item"><a class="hometasks__link link" href="./lessons/10/ht-10/HomeTask-10.html">HomeTask 10</a></li>
                        <li class="list-item hometasks__item"><a class="hometasks__link link" href="./lessons/11/ht-11/HomeTask-11.html">HomeTask 11</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</section>