.header,
.nav, 
.user-btns, 
.header__main-string, 
.goods__categories
{
    display: flex;
}

.header {
    height: 118px; ///////// look for how did they limited it
    align-items: center;
}

.header__wrapper {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}